<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div   *ngIf="valor === true"
             class="modal-body">
  <p>Hello, {{name}}!</p>
  <i class="fas fa-check-circle" style="color: green;"></i>
</div>
<div *ngIf="valor === false"
       class="modal-body">
  <p>Hello, {{name}}!</p>
  <i class="fas fa-times " style="color: red;"></i>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
